<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HRMSI.My.MySettings.mssqlCon" connectionString="Data Source=localhost;Initial Catalog=hrmis;Persist Security Info=True;User ID=sa;Password=9375"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
